{% extends 'base.html.twig' %}

{% block body %}
    <p>Imię i nazwisko: {{ contact.name }} {{ contact.surname }}</p>
    <p>Opis: {{ contact.description }}</p>
    <p>
        <a href="{{ path('app_contact_modify', {'id': contact.id}) }}">Edit</a>
        <a href="{{ path('app_contact_delete', {'id': contact.id}) }}">Delete</a>
    </p>
    <p>Adresses:</p>
    <ul>
        {% for address in contact.addresses %}
            <li>
                Address: {{ address.city }},
                 {{ address.street }}
                 {{ address.houseNumber }}
                {% if address.apartmentNumber is not null %}
                /
                {% endif %}
                {{address.apartmentNumber }}
                <a href="{{ path('app_address_modify', {'id': address.id, 'id_c' : contact.id }) }}">Edit</a>
                <a href="{{ path('app_address_delete', {'id': address.id, 'id_c' : contact.id }) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_address_new', {'id': contact.id}) }}">Add address</a>

    <p>Emails:</p>
    <ul>
        {% for email in contact.emails %}
            <li>
                Email: {{ email.email }}
                Type: {{ email.type }}
                <a href="{{ path('app_email_modify', {'id': email.id, 'id_c' : contact.id }) }}">Edit</a>
                <a href="{{ path('app_email_delete', {'id': email.id, 'id_c' : contact.id }) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_email_new', {'id': contact.id}) }}">Add address</a>

    <p>Phones:</p>
    <ul>
        {% for phone in contact.phones %}
            <li>
                Phone: {{ phone.number }}
                Type: {{ phone.type }}
                <a href="{{ path('app_phone_modify', {'id': phone.id, 'id_c' : contact.id }) }}">Edit</a>
                <a href="{{ path('app_phone_delete', {'id': phone.id, 'id_c' : contact.id }) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_phone_new', {'id': contact.id}) }}">Add phone</a>

{% endblock %}

