{% extends 'base.html.twig' %}
{% block title %}
    Show contacts
{% endblock %}
{% block body %}
    <h2>Contact list: </h2>
    <table>
        <tr><td>Name</td><td colspan="2">Action</td></tr>
    {% for contact in contacts|sort %}
        <tr>
            <td><a href="{{ path('app_contact_showid', {'id': contact.id}) }}"> {{ contact.name }} {{ contact.surname }}</a></td>
            <td><a href="{{ path('app_contact_modify', {'id': contact.id}) }}">Edit</a></td>
            <td><a href="{{ path('app_contact_delete', {'id': contact.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ path('app_contact_new')}}">Add contact</a>
{% endblock %}

